Repository mujik-tigers/course-registration-system, pull requests merged in 2024-01, with the labels that each got.

#19 Refactor/18
  build.gradle
  src/main/java/site/courseregistrationsystem/auth/StudentSession.java
  src/main/java/site/courseregistrationsystem/auth/application/SessionManager.java
  src/main/java/site/courseregistrationsystem/auth/dto/LoginForm.java
  src/main/java/site/courseregistrationsystem/config/JpaConfig.java
  src/main/java/site/courseregistrationsystem/department/infrastructure/DepartmentRepository.java
  src/main/java/site/courseregistrationsystem/lecture/Lecture.java
  src/main/java/site/courseregistrationsystem/lecture/dto/LectureFilterOptions.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepository.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepositoryCustom.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepositoryImpl.java
  src/main/java/site/courseregistrationsystem/lecture/presentation/LectureController.java
  src/main/java/site/courseregistrationsystem/professor/infrastructure/ProfessorRepository.java
  src/main/java/site/courseregistrationsystem/schedule/Schedule.java
  src/main/java/site/courseregistrationsystem/schedule/infrastructure/ScheduleRepository.java
  src/main/java/site/courseregistrationsystem/subject/Subject.java
  src/main/java/site/courseregistrationsystem/subject/infrastructure/SubjectRepository.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/auth/application/AuthServiceTest.java
  src/test/java/site/courseregistrationsystem/auth/presentation/AuthControllerTest.java
  src/test/java/site/courseregistrationsystem/lecture/application/LectureServiceTest.java
  src/test/java/site/courseregistrationsystem/student/application/StudentServiceTest.java
Labels: refactor, week2

#33 Feature: 수강 신청 페이지 내 기능 구현 완료
  src/docs/asciidoc/api/enrollment.adoc
  src/docs/asciidoc/api/session.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/site/courseregistrationsystem/auth/application/AuthService.java
  src/main/java/site/courseregistrationsystem/auth/presentation/AuthController.java
  src/main/java/site/courseregistrationsystem/clock/presentation/ClockController.java
  src/main/java/site/courseregistrationsystem/config/RedisConfig.java
  src/main/java/site/courseregistrationsystem/enrollment/Enrollment.java
  src/main/java/site/courseregistrationsystem/enrollment/application/EnrollmentService.java
  src/main/java/site/courseregistrationsystem/enrollment/dto/EnrolledLecture.java
  src/main/java/site/courseregistrationsystem/enrollment/dto/EnrolledLectureDetail.java
  src/main/java/site/courseregistrationsystem/enrollment/dto/EnrolledLectures.java
  src/main/java/site/courseregistrationsystem/enrollment/dto/EnrollmentCapacity.java
  src/main/java/site/courseregistrationsystem/enrollment/infrastructure/EnrollmentRepository.java
  src/main/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentController.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/CreditsLimitExceededException.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/DuplicateEnrollmentException.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/EnrollmentNotFoundException.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/LectureNotInCurrentSemesterException.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/ScheduleConflictException.java
  src/main/java/site/courseregistrationsystem/exception/lecture/NonexistenceLectureException.java
  src/main/java/site/courseregistrationsystem/interceptor/LoginCheckInterceptor.java
  src/main/java/site/courseregistrationsystem/lecture/Lecture.java
  src/main/java/site/courseregistrationsystem/lecture/Semester.java
  src/main/java/site/courseregistrationsystem/lecture/application/LectureService.java
  src/main/java/site/courseregistrationsystem/lecture/dto/LectureFilterOptions.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepository.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepositoryCustom.java
  src/main/java/site/courseregistrationsystem/lecture/infrastructure/LectureRepositoryImpl.java
  src/main/java/site/courseregistrationsystem/lecture/presentation/LectureController.java
  src/main/java/site/courseregistrationsystem/schedule/Schedule.java
  src/main/java/site/courseregistrationsystem/student/Student.java
  src/main/java/site/courseregistrationsystem/subject/Subject.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/main/java/site/courseregistrationsystem/validator/PasswordFormatCheck.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/auth/application/AuthServiceTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentControllerTest.java
  src/test/java/site/courseregistrationsystem/lecture/application/LectureServiceTest.java
  src/test/java/site/courseregistrationsystem/lecture/presentation/LectureControllerTest.java
Labels: feat, docs, test, week3

#32 Feature: 수강 바구니 관련 기능 구현
  src/docs/asciidoc/api/basket.adoc
  src/docs/asciidoc/api/enrollment.adoc
  src/docs/asciidoc/api/lecture.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/site/courseregistrationsystem/basket/Basket.java
  src/main/java/site/courseregistrationsystem/basket/application/BasketService.java
  src/main/java/site/courseregistrationsystem/basket/dto/BasketDetail.java
  src/main/java/site/courseregistrationsystem/basket/dto/BasketList.java
  src/main/java/site/courseregistrationsystem/basket/dto/DeletedBasket.java
  src/main/java/site/courseregistrationsystem/basket/dto/SelectedLecture.java
  src/main/java/site/courseregistrationsystem/basket/infrastructure/BasketRepository.java
  src/main/java/site/courseregistrationsystem/basket/presentation/BasketController.java
  src/main/java/site/courseregistrationsystem/enrollment/Enrollment.java
  src/main/java/site/courseregistrationsystem/enrollment/application/EnrollmentService.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/basket/DuplicateBasketException.java
  src/main/java/site/courseregistrationsystem/exception/basket/NonexistenceBasketException.java
  src/main/java/site/courseregistrationsystem/exception/credit/CreditLimitExceededException.java
  src/main/java/site/courseregistrationsystem/exception/enrollment/CreditsLimitExceededException.java
  src/main/java/site/courseregistrationsystem/exception/schedule/ScheduleConflictException.java
  src/main/java/site/courseregistrationsystem/exception/semester/SemesterInvalidException.java
  src/main/java/site/courseregistrationsystem/lecture/Lecture.java
  src/main/java/site/courseregistrationsystem/lecture/Semester.java
  src/main/java/site/courseregistrationsystem/lecture/application/LectureService.java
  src/main/java/site/courseregistrationsystem/lecture/dto/BasketStoringCount.java
  src/main/java/site/courseregistrationsystem/lecture/presentation/LectureController.java
  src/main/java/site/courseregistrationsystem/schedule/DayOfWeek.java
  src/main/java/site/courseregistrationsystem/schedule/Schedule.java
  src/main/java/site/courseregistrationsystem/student/Student.java
  src/main/java/site/courseregistrationsystem/student/application/StudentService.java
  src/main/java/site/courseregistrationsystem/util/ProjectConstant.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/auth/application/AuthServiceTest.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/basket/presentation/BasketControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentControllerTest.java
  src/test/java/site/courseregistrationsystem/lecture/application/LectureServiceTest.java
  src/test/java/site/courseregistrationsystem/lecture/presentation/LectureControllerTest.java
  src/test/java/site/courseregistrationsystem/student/application/StudentServiceTest.java
Labels: feat, docs, test, week3

#39 feat: 수강 신청 및 수강 바구니 신청 기간을 추가 및 검증 구현 기능
  .github/workflows/test-report.yml
  src/docs/asciidoc/api/basket.adoc
  src/docs/asciidoc/api/registration-period.adoc
  src/main/java/site/courseregistrationsystem/basket/application/BasketService.java
  src/main/java/site/courseregistrationsystem/basket/presentation/BasketController.java
  src/main/java/site/courseregistrationsystem/config/RedisConfig.java
  src/main/java/site/courseregistrationsystem/config/WebConfig.java
  src/main/java/site/courseregistrationsystem/enrollment/application/EnrollmentService.java
  src/main/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentController.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/InvalidBasketTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/InvalidEnrollmentTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceBasketRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceCommonEnrollmentRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceEnrollmentRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/StartTimeAfterEndTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/StartTimeBeforeCurrentTimeException.java
  src/main/java/site/courseregistrationsystem/exception/semester/SemesterInvalidException.java
  src/main/java/site/courseregistrationsystem/lecture/Semester.java
  src/main/java/site/courseregistrationsystem/lecture/presentation/LectureController.java
  src/main/java/site/courseregistrationsystem/registration/BasketRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/EnrollmentRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/dto/BasketRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/EnrollmentRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/RegistrationDate.java
  src/main/java/site/courseregistrationsystem/registration/infrastructure/BasketRegistrationPeriodStorage.java
  src/main/java/site/courseregistrationsystem/registration/infrastructure/EnrollmentRegistrationPeriodStorage.java
  src/main/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodController.java
  src/main/java/site/courseregistrationsystem/student/Grade.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/auth/application/SessionManagerTest.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/basket/presentation/BasketControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentControllerTest.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodControllerTest.java
Labels: feat, docs, test, week4

#40 Feature: 남은 세션 시간 조회 기능 구현 완료
  src/docs/asciidoc/api/clock.adoc
  src/main/java/site/courseregistrationsystem/auth/presentation/AuthController.java
  src/main/java/site/courseregistrationsystem/clock/dto/SessionRemainingTime.java
  src/main/java/site/courseregistrationsystem/clock/presentation/ClockController.java
  src/main/java/site/courseregistrationsystem/config/WebConfig.java
  src/main/java/site/courseregistrationsystem/interceptor/LoginCheckInterceptor.java
  src/main/java/site/courseregistrationsystem/util/ProjectConstant.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/main/java/site/courseregistrationsystem/util/resolver/SessionTime.java
  src/main/java/site/courseregistrationsystem/util/resolver/SessionTimeArgumentResolver.java
  src/test/java/site/courseregistrationsystem/auth/presentation/AuthControllerTest.java
  src/test/java/site/courseregistrationsystem/clock/presentation/ClockControllerTest.java
Labels: feat, docs, test, week4

#41 4주차 배포
  .github/workflows/auto-deploy.yml
  .github/workflows/test-report.yml
  src/docs/asciidoc/api/basket.adoc
  src/docs/asciidoc/api/clock.adoc
  src/docs/asciidoc/api/registration-period.adoc
  src/main/java/site/courseregistrationsystem/auth/presentation/AuthController.java
  src/main/java/site/courseregistrationsystem/basket/application/BasketService.java
  src/main/java/site/courseregistrationsystem/basket/presentation/BasketController.java
  src/main/java/site/courseregistrationsystem/clock/dto/SessionRemainingTime.java
  src/main/java/site/courseregistrationsystem/clock/presentation/ClockController.java
  src/main/java/site/courseregistrationsystem/config/RedisConfig.java
  src/main/java/site/courseregistrationsystem/config/WebConfig.java
  src/main/java/site/courseregistrationsystem/enrollment/application/EnrollmentService.java
  src/main/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentController.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/InvalidBasketTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/InvalidEnrollmentTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceBasketRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceCommonEnrollmentRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/NonexistenceEnrollmentRegistrationPeriodException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/StartTimeAfterEndTimeException.java
  src/main/java/site/courseregistrationsystem/exception/registration_period/StartTimeBeforeCurrentTimeException.java
  src/main/java/site/courseregistrationsystem/exception/semester/SemesterInvalidException.java
  src/main/java/site/courseregistrationsystem/interceptor/LoginCheckInterceptor.java
  src/main/java/site/courseregistrationsystem/lecture/Semester.java
  src/main/java/site/courseregistrationsystem/lecture/presentation/LectureController.java
  src/main/java/site/courseregistrationsystem/registration/BasketRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/EnrollmentRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/dto/BasketRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/EnrollmentRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/RegistrationDate.java
  src/main/java/site/courseregistrationsystem/registration/infrastructure/BasketRegistrationPeriodStorage.java
  src/main/java/site/courseregistrationsystem/registration/infrastructure/EnrollmentRegistrationPeriodStorage.java
  src/main/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodController.java
  src/main/java/site/courseregistrationsystem/student/Grade.java
  src/main/java/site/courseregistrationsystem/util/ProjectConstant.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/main/java/site/courseregistrationsystem/util/resolver/SessionTime.java
  src/main/java/site/courseregistrationsystem/util/resolver/SessionTimeArgumentResolver.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/auth/application/SessionManagerTest.java
  src/test/java/site/courseregistrationsystem/auth/presentation/AuthControllerTest.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/basket/presentation/BasketControllerTest.java
  src/test/java/site/courseregistrationsystem/clock/presentation/ClockControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/enrollment/presentation/EnrollmentControllerTest.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodControllerTest.java
Labels: week4

#43 Feature: 현재 시간과 학기를 확인하는 API 구현
  src/docs/asciidoc/api/clock.adoc
  src/main/java/site/courseregistrationsystem/clock/Clock.java
  src/main/java/site/courseregistrationsystem/clock/application/ClockService.java
  src/main/java/site/courseregistrationsystem/clock/dto/CurrentYearAndSemester.java
  src/main/java/site/courseregistrationsystem/clock/infrastructure/ClockStorage.java
  src/main/java/site/courseregistrationsystem/clock/presentation/ClockController.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/clock/NonexistenceClockException.java
  src/main/java/site/courseregistrationsystem/registration/BasketRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/EnrollmentRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/dto/BasketRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/EnrollmentRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/RegistrationDate.java
  src/main/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodController.java
  src/main/java/site/courseregistrationsystem/util/ProjectConstant.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/clock/application/ClockServiceTest.java
  src/test/java/site/courseregistrationsystem/clock/presentation/ClockControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodControllerTest.java
Labels: feat, docs, fix, test, week5

#44 4주차 두 번째 배포
  src/docs/asciidoc/api/clock.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/site/courseregistrationsystem/clock/Clock.java
  src/main/java/site/courseregistrationsystem/clock/application/ClockService.java
  src/main/java/site/courseregistrationsystem/clock/dto/CurrentYearAndSemester.java
  src/main/java/site/courseregistrationsystem/clock/infrastructure/ClockStorage.java
  src/main/java/site/courseregistrationsystem/clock/presentation/ClockController.java
  src/main/java/site/courseregistrationsystem/exception/ErrorType.java
  src/main/java/site/courseregistrationsystem/exception/clock/NonexistenceClockException.java
  src/main/java/site/courseregistrationsystem/registration/BasketRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/EnrollmentRegistrationPeriod.java
  src/main/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/dto/BasketRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/EnrollmentRegistrationPeriodSaveForm.java
  src/main/java/site/courseregistrationsystem/registration/dto/RegistrationDate.java
  src/main/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodController.java
  src/main/java/site/courseregistrationsystem/util/ProjectConstant.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/clock/application/ClockServiceTest.java
  src/test/java/site/courseregistrationsystem/clock/presentation/ClockControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodControllerTest.java
Labels: week4

#46 Feature: 수강 바구니 신청 기간 조회 및 수강 신청 기간 조회 기능 구현
  .github/workflows/auto-deploy.yml
  src/docs/asciidoc/api/registration-period.adoc
  src/main/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodService.java
  src/main/java/site/courseregistrationsystem/registration/dto/EnrollmentRegistrationPeriods.java
  src/main/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodController.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/presentation/RegistrationPeriodControllerTest.java
Labels: feat, docs, test, week6

#48 Feature: 학과 목록 조회 기능 구현 완료
  src/docs/asciidoc/api/department.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/site/courseregistrationsystem/department/application/DepartmentService.java
  src/main/java/site/courseregistrationsystem/department/dto/DepartmentDetail.java
  src/main/java/site/courseregistrationsystem/department/dto/DepartmentList.java
  src/main/java/site/courseregistrationsystem/department/infrastructure/DepartmentRepository.java
  src/main/java/site/courseregistrationsystem/department/presentation/DepartmentController.java
  src/main/java/site/courseregistrationsystem/util/api/ResponseMessage.java
  src/test/java/site/courseregistrationsystem/IntegrationTestSupport.java
  src/test/java/site/courseregistrationsystem/RestDocsSupport.java
  src/test/java/site/courseregistrationsystem/basket/application/BasketServiceTest.java
  src/test/java/site/courseregistrationsystem/department/application/DepartmentServiceTest.java
  src/test/java/site/courseregistrationsystem/department/presentation/DepartmentControllerTest.java
  src/test/java/site/courseregistrationsystem/enrollment/application/EnrollmentServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/BasketRegistrationPeriodServiceTest.java
  src/test/java/site/courseregistrationsystem/registration/application/EnrollmentRegistrationPeriodServiceTest.java
Labels: week5
